body{
	background-image: url("image/font.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
}

.header{
	width: 700px; 
	margin: 0 auto;
	margin-top: 50px;
}


.mirrorY { 
	transform: scale(-1, 1);
}

.menu{
	width: 450px;
	margin: 0 auto;
}

.menu_btnplay{
	background-image: url("image/btn-play.png");
	background-size: 100%;
	width: 450px;
	height: 115px;
	border-color: black;

}

.menu_name{
	width: 450px;
	background-color: orange;
	height: 115px;
	font-size: 60px;
	border-color: black;
}

#heracles {
	position: absolute;
	left: 1%;
	top: 50%;
	
}
.menu{
	text-align: center;
	width: 500px;
}

.power{
	font-size: 25px;
}

#hp{
	text-align: center;
	font-size: 50px;
	font-family: fantasy;
	cursor: default;
	display: inline-block;
}

#ep{
	text-align: center;
	color: #333;
	font-family: fantasy;
	font-size: 50px;
	cursor: default;
	display: inline-block;
}


#timer{
	margin: 20px auto;
	color: #333;
	font-family: fantasy;
	font-size: 70px;
	cursor: default;
	display: inline-block;
}

#plus_hp{
	display: inline-block;
	float: left;
	color: #333;
	
}

#timer div{
	display: inline-block;
}

#plus_ep{
	display: inline-block;
	float: right;
}

